# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
app/android/app/debug
app/android/app/profile
app/android/app/release


api/MangaLuAPI/MangaLuAPI/appsettings.json
api/MangaLuAPI/MangaLuAPI/appsettings.Development.json
api/MangaLuAPI/.vs/MangaLuAPI/config/applicationhost.config
api/MangaLuAPI/.vs/MangaLuAPI/DesignTimeBuild/.dtbcache.v2
api/MangaLuAPI/.vs/MangaLuAPI/FileContentIndex/2947fb0f-c07c-48c9-afd0-954147403b27.vsidx
api/MangaLuAPI/.vs/MangaLuAPI/FileContentIndex/read.lock
api/MangaLuAPI/.vs/MangaLuAPI/v17/.futdcache.v2
api/MangaLuAPI/.vs/MangaLuAPI/v17/.suo
api/MangaLuAPI/.vs/ProjectEvaluation/mangaluapi.metadata.v5.1
api/MangaLuAPI/.vs/ProjectEvaluation/mangaluapi.projects.v5.1
api/MangaLuAPI/MangaLuAPI/bin/Debug/netcoreapp3.1/appsettings.Development.json
api/MangaLuAPI/MangaLuAPI/bin/Debug/netcoreapp3.1/appsettings.json
api/MangaLuAPI/MangaLuAPI/bin/
api/MangaLuAPI/MangaLuAPI/obj/MangaLuAPI.csproj.nuget.dgspec.json
api/MangaLuAPI/MangaLuAPI/obj/
api/MangaLuAPI/.vs/MangaLuAPI/FileContentIndex/e325e6dd-78c0-44bd-9940-a575fc4e8822.vsidx
api/MangaLuAPI/.vs/MangaLuAPI/FileContentIndex/c06073c7-86d5-4307-8dff-555148f62739.vsidx
api/MangaLuAPI/.vs/MangaLuAPI/FileContentIndex/6aee7335-6f00-45c6-a1c7-ef071f8988e4.vsidx
api/MangaLuAPI/.vs/MangaLuAPI/FileContentIndex/1d4df6b3-ab74-4f3b-9dd5-ed9167324c00.vsidx
api/MangaLuAPI/.vs/
